.form {
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.form label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form input {
    width: 150px;
    margin-top: 10px;
}

.form input,
.form button {
    border: 1px solid #000000;
    border-radius: 5px;
}

.form__name {
    padding: 10px;
}

.form__user-timezone,
.form__button-add {
    padding: 10px;
}

.form__button-add {
    background-color: #ffffff;
}