.note {
    position: relative;
    display: inline-flex;
    width: 300px;
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: 1px solid black;
    overflow-wrap: anywhere;
}

.header {
    display: flex;
    align-self: center;
    margin-bottom: 50px;
}

.update {
    margin-left: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    text-decoration: none;
    user-select: none;
}


.note__control-delete {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 31px;
    color: red;
    background-color: #ffffff;
}

.form {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-control__text,
.form-control__button-add {
    padding: 10px;
}

.form-control__text {
    width: 300px;
    padding: 10px;
    font: inherit;
    color: inherit;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    overflow-wrap: break-word;
}

.form-control__button-add {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 18px;
    line-height: 1;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}